#wrap {
    min-height: 80%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif!important;
}

footer {
    position: relative;
    clear: both;
    padding-top: 20px;
    background-color: #36622b;
}
h1 {
    padding: 15px;
    color: #36622b;
}

.labelColor {
    color: #36622b!important;
}



.containerTitlePanel {
    margin-left: 20%;
    margin-top: 5%;
    padding-bottom: 2%;

}


.helpNavbar {
    padding-left: 5px;
    padding-right: 5px;
    color: #ddffbc;
}

.btnGeneral {
    background-color: #729d39;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-color: #007bff;
    position: relative;
}

.login {
    background-color: #36622b !important;
    height: 50%;
    width: 40%;
    margin-left: 30%;
    position: absolute;

}

.formLogin {
    padding: 15%;
    position: relative;

}

.containerContentPanel {
    margin-left: 20%;
    padding-bottom: 10%;
    position: relative;
}

.imgCard {
    height: 100%;
    width: 100%;
}


.containerBtnCrear {
    padding-top: 2%;
    padding-left: 80%;
    /* position: relative; */

}

.btnTrash {

    margin-left: 65%;

}

.copyright {

}

.bg-primary {
    background-color: #36622b !important;
}


body {
    background-color: #ddffbc !important;
}

.fixed-top-menu {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.hrStyle {
    border-top: 1px solid #36622b;
    width: 50%;
}

/*
TO-DO: logo con 50% fastidia la navbar
*/

.logo {
    width: 50px;
    height: 50px;
}

.textContainer {
    position: relative;
    margin: 5% 40% 5% 30%;
    text-align: center;
    width: 40%;
    font-family: 'Lato', sans-serif;

}

.textCard{
  padding: 0px;
  margin-bottom: 0px;
}

.passLink {
    color: #ddffbc;

}

.navbarMenu {
    background-color: #36622b;
    /* width: 15%; */
}


.buttonStyle {
    background-color: #36622b;
}

.optionsMenu {
    color: #fbfad3;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    padding: 6px 10px 0 15px;

}

.navbarTop {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
}

/* Carousel base class */
.carousel {
    margin-bottom: 0rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 30rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 30rem;
}

/* Contact form */
.contact {
    background-color: #729d39;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

/* Send button */
.align-right {
    text-align: right;
    border: 0;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 40px;
    border-radius: 100px;
    display: inline-block;
    transition: all .5s;
}

.btn-green {
    background: #36622b;
    color: #fbfad3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inscribir-action-div {
    padding-top: 20px
}

.introduction {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.iniciativa-row {
    margin: 3rem;
}

.border {
    color: black;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color: powderblue;
    text-decoration: none;
    cursor: pointer;
}

/* upload button */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 30px 0px;
  }
  
  .btnupload {
    border: 1px solid gray;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;

  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }