{% extends 'app/base.html' %} {% load static %} {% block contenido %} {% load crispy_forms_tags %}

    <!--
    Form Section
    -->

    <div id="wrap">
        <div id="main" class="container clear-top">
            <div class="container contacto">
                <div class="row justify-content-md-center">
                    <div class="col">
                        <h1>¡Inscribe tu punto de reciclaje!</h1>
                    </div>
                </div>
                <p>{{ form.non_field_errors }}</p>
                <div class="row">
                    <div class="col">
                        <form method="POST" action="" id="formulario-inscribir" enctype="multipart/form-data">
                            <div class="form-group">
                                {% csrf_token %}
                                {% crispy form form.helper %}
                            </div>

                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!--
    Form Section
    -->


{% endblock %}
