{% extends 'app/base.html' %} {% load static %} {% block contenido %}
    <!-- Login container -->
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <!-- login-card-img -->
                        <img src="{% static 'core/img/loginImage.jpg' %}" alt="login" class="imgCard">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <a href="{% url 'homepage' %}"><img src="{% static 'core/img/logo.png' %}" alt="logo"
                                                                    class="logo logoLogin"></a>
                            </div>
                            <p class="login-card-description loginTitle"><a href="{% url 'dashboard' %}">Ingresa a tu
                                cuenta</a>
                            </p>
                            <form action="">
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" name="email" id="email" class="form-control"
                                           placeholder="Email address">
                                </div>
                                <div class="alert alert-danger" role="alert" id="emailValidation">
                                    <h6>El correo ingresado no es válido.</h6>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="password" class="sr-only">Contraseña</label>
                                    <input type="password" name="password" id="password" class="form-control"
                                           placeholder="*******">
                                </div>

                                <div class="alert alert-danger" role="alert" id="passwordValidation">
                                    <h6>El password no puede estar sin valores.</h6>
                                </div>

                                <input name="login" id="login" class="btn btn-block btnGeneral mb-4" type="button"

                                       value="Login">
                            </form>
                            <a href="{% url 'verificafono' %}" class="" style="color:silver;">Olvidaste tu
                                contraseña?</a>
                            <p class="login-card-footer-text">No tienes una cuenta? <a href="{% url 'crearusuario' %}"
                                                                                       class="text-reset">Registrate
                                aquí</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


{% endblock %}

{% block page_scripts %}

{% endblock %}