{% extends 'app/base.html' %} {% load static %} {% block contenido %}

    <!--
    Form Section
    -->

    <div id="wrap">
        <div id="main" class="container clear-top">
            <div class="container contacto">
                <div class="row justify-content-md-center">
                    <div class="col">
                        <h1>Modifica tu punto de reciclaje.</h1>
                    </div>


                </div>
                <form method="post" action="">
                    <div>
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy form form.helper %}

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--
    Form Section
    -->


{% endblock %}

