{% extends 'app/base.html' %} {% load static %} {% block contenido %}

    <!--
    Form Section
    -->

    <div id="wrap">
        <div id="main" class="container clear-top">

            <div class="container contacto">
                <form class="container">
                    <div class="row justify-content-md-center">
                        <div class="col">
                            <h1 class="align-content-center">Recuperación de clave</h1>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="passwordnew" class="form-label">Clave nueva</label>
                        <input type="password" class="form-control" id="passwordnew" aria-describedby="emailHelp">
                    </div>
                    <!-- <div id="password-require"> -->
                    <div class="alert alert-light" role="alert" id="password-require">
                        <h6>Requerimientos de la contraseña:</h6>
                        <ul>
                            <li id="letter" class="invalid">Al menos <strong>una minúscula</strong></li>
                            <li id="capital" class="invalid">Al menos <strong>una mayúscula</strong></li>
                            <li id="number" class="invalid">Al menos <strong>un número</strong></li>
                            <li id="length" class="invalid">Al menos <strong>8 carácteres</strong></li>
                            <!-- <li id="character" class="invalid">Al menos <strong>un carácter especial</strong></li> -->
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="passwordrepnew" class="form-label">Repita clave nueva</label>
                        <input type="password" class="form-control" id="passwordrepnew" aria-describedby="emailHelp">
                    </div>
                    <div class="alert alert-danger" role="alert" id="password-repeat">
                        <h6>Las claves ingresadas no son iguales.</h6>
                    </div>
                    <div class="row align-content-end">
                        <div class="col offset-lg-10 offset-md-9 offset-sm-8 offset-xl-10">
                            <div class="btnGeneral">
                                <!-- <a href="#">Cambiar clave</a> -->
                                <button type="button" class="btn btnGeneral" id="btnEnviar"
                                        data-target="#validationModal">Cambiar clave
                                </button>
                            </div>

                        </div>

                    </div>


                </form>

            </div>

        </div>
    </div>

    <!--
    Form Section
    -->

    <!-- Modal-->
    <div class="modal" id="validationModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Notificación</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <!-- <div class="alert alert-success" role="alert" id="#msgSuccessModal"> -->
                    <label class="form-label" id="textModal"></label>
                    <!-- </div> -->
                    <!-- <div class="alert alert-danger" role="alert" id="#msgErrorModal"> -->

                    <!-- </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Modal -->

{% endblock %}
